includeConfig 'configs/general.config'
// includeConfig 'configs/s3.config'

profiles {
  standard {
    includeConfig 'configs/standard.config'
  }
  tara {
    executor.$slurm.queueSize = 20
    includeConfig 'configs/tara.config'
  }

  colossus {
    includeConfig 'configs/colossus.config'
  }

  nbt {
    includeConfig 'configs/nbt.config'
  }

  gb {
    includeConfig 'configs/gb.config'
  }
}



manifest {
  mainScript = 'main.nf'
  name = 'gwas-rice2'
  description = """
  DSL2 based Nextflow NBT conventions pipeline template by Sinonkt.

  Usage: 
    nextflow run nbt/nxf-template \\
      -hub seeds \\
      -resume

    *for other nextflow [options] [-with-report|-with-timeline|-with-dag]
  """
  author = 'Krittin Phornsiricharoenphant (oatkrittin@gmail.com)'
  homePage = 'https://gitlab.seeds-th.com/nbt/nxf-template'
  version = '0.0.1'
}
