process {
  executor = 'slurm'
  queue = 'memory'
  cache = 'lenient'

  withName: Trimmmomatic_Single {
    module = 'Trimmomatic/0.38-Java-1.8'
    cpus = 8
    memory = '64 GB'
  }

  withName: Trimmmomatic_Paired {
    module = 'Trimmomatic/0.38-Java-1.8'
    cpus = 8
    memory = '64 GB'
  }

  withName: FastqcForSingleBefore {
//    module = 'FastQC/0.11.7-Java-1.8.0_162'
    beforeScript = 'export PATH=$HOME/tools/FastQC:$PATH'
    cpus = 4
    memory = '8 GB'
  }

  withName: FastqcForSingleAfter {
//    module = 'FastQC/0.11.7-Java-1.8.0_162'
    beforeScript = 'export PATH=$HOME/tools/FastQC:$PATH'
    cpus = 4
    memory = '8 GB'
  }

  withName: FastqcForPairedBefore {
    module = 'FastQC/0.11.9-Java-11'
    cpus = 8
    memory = '64 GB'

  }

  withName: FastqcForPairedAfter {
    module = 'FastQC/0.11.9-Java-11'
    cpus = 8
    memory = '64 GB'
  }

  withName: AlignmentSingle {
    module = 'BWA/0.7.17-GCCcore-11.2.0:SAMtools/1.18-GCC-12.3.0:picard/2.25.1-Java-11:'
    cpus = 8
    memory = '64 GB'
  }

  withName: AlignmentPaired {
    module = 'BWA/0.7.17-GCCcore-11.2.0:SAMtools/1.18-GCC-12.3.0:picard/2.25.1-Java-11:'
    cpus = 8
    memory = '64 GB'
  }

  withName: Mark_duplicates {
  module = 'Java/11.0.16:picard/2.25.1-Java-11'
  cpus = 4
  memory = '32 GB'
  }

  withName: Base_recalibrator {
  module = 'GATK/4.5.0-java-17'
  cpus = 8
  memory = '64 GB'
  }

  withName: Call_GVCF {
  module = 'GATK/4.5.0-java-17:HTSlib/1.19.1-GCC-12.3.0'
  cpus = 10
  memory = '96 GB'
  }

  withName: GenomicsDBImport {
  module = 'GATK/4.5.0-java-17'
  cpus = 10
  memory = '96 GB'
  }

  withName: GenotypeGVCFs {
  module = 'GATK/4.5.0-java-17'
  cpus = 10
  memory = '96 GB'
  }

  withName: Combine_finalVCF {
  module = 'GATK/4.5.0-java-17'
  cpus = 10
  memory = '96 GB'
  }

  withName: VcftoBed {
  module = 'BCFtools/1.17-GCC-12.2.0:PLINK/1.9b_4.1-x86_64:TASSEL/5.2.59'
  cpus = 16
  memory = '128 GB'
  }

  withName: VCFtoVCFbi {
  module = 'BCFtools/1.17-GCC-12.2.0'
  cpus = 16
  memory = '128 GB'
  }

  withName: VCFtoHMP {
  module = 'TASSEL/5.2.59'
  cpus = 16
  memory = '128 GB'
  }

  withName: VCFtoBEDBIMFAM {
  module = 'PLINK/1.9b_4.1-x86_64'
  cpus = 4
  memory = '8 GB'
  }

  withName: Qualimap {
  container = '/nbt_main/share/singularity/qualimap:2.3--hdfd78af_0'
  cpus = 4
  memory = '8 GB'
  }


  withName: MultiQC {
  beforeScript = 'export PATH=$HOME/.local/bin/:$PATH'
//  module = 'MultiQC/1.7-foss-2018b-Python-3.6.6'
  cpus = 4
  memory = '8 GB'
  }

  withName: VCFtoolsBefore_stats {
  module = 'VCFtools/0.1.16-GCC-11.3.0'
  cpus = 8
  memory = '16 GB'
  }

  withName: VCFtoolsAfter_stats {
  module = 'VCFtools/0.1.16-GCC-11.3.0'
  cpus = 8
  memory = '16 GB'
  }

  withName: BCFtoolsBefore_stats {
  module = 'BCFtools/1.17-GCC-12.2.0'
  cpus = 8
  memory = '16 GB'
  }

  withName: BCFtoolsAfter_stats {
  module = 'BCFtools/1.17-GCC-12.2.0'
  cpus = 8
  memory = '16 GB'
  }

  withName: HistogramBefore {
  module = 'Python/3.10.4-GCCcore-11.3.0'
  cpus = 8
  memory = '16 GB'
  }

  withName: HistogramAfter {
  module = 'Python/3.10.4-GCCcore-11.3.0'
  cpus = 8
  memory = '16 GB'
  }

}

singularity {
    enabled = true
    autoMounts = true
}
